body{
    background-color: rgba(89, 30, 104, 0.808);
    color: beige;
    margin: 0px;
    font-family: "Itim", cursive;
    margin-bottom: 100px;
}
header{
    border-bottom: 3px solid white;
    padding: 20px;
    color: beige;
    font-size: 35px;
}
.chamada{
    background: rgb(141, 33, 141);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 35px;
}