body{
    background-color: rgba(71, 7, 87, 0.808);
    color: beige;
    margin: 0px;
    font-family: "Itim", cursive;
    margin-bottom: 100px;
}
header{
    border-bottom: 3px solid white;
    padding: 20px;
    color: beige;
    font-size: 35px;
}
.chamada{
    background: hotpink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}
h1{
    font-size: 35px;
}